.khan__book-container {
    display: flex;
}

.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2F80ED;
    text-decoration: none;
    align-self: baseline;
}

.khan__buy-link:hover {
    opacity: .6;
    transition: 1s;
}

.khan__book-pic {
    width: 620px;
    height: 608px;
    margin: 0 20px 0 0;
    object-fit: cover;
    object-position: left top;
}
