@import url(./__triangle/kaufman__triangle.css);

.kaufman {
    display: block;
    position: relative;
    background-color: #1f1f1f;
    overflow: hidden;
    line-height: 34px;
    font-size: 24px;
    z-index: -1;
   }